$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

.button_3d {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 20px;
    font-size: 12px;

    font-weight: 600;
    color: $color_white;
    text-transform: uppercase;
    padding: 8px 16px;
    background: $color_primary;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark-pink;
        border-radius: inherit;
        box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
        transform: translate3d(0, 0.75em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    &:hover {
        background: $color_red;
        color: $color_white;
        transform: translate(0, 0.25em);

        &::before {
            box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
            transform: translate3d(0, 0.5em, -1em);
        }
    }

    &:active {
        background: $color_red;
        transform: translate(0em, 0.75em);
        color: $color_white;

        &::before {
            box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
            transform: translate3d(0, 0, -1em);
        }
    }
}


@media (min-width: 768px) {
    .button_3d{
        margin-bottom: 36px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .button_3d{
        font-size: 20px;
    }
}